<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Selling Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link href="../../static/css/bootstrap.css" rel="stylesheet">
<link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../../static/css/docs.css" rel="stylesheet">
<link href="../../static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="../../static/js/google-code-prettify/prettify.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../../static/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../static/ico/apple-touch-icon-57-precomposed.png">
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<!-- Navbar
    ================================================== -->
<div class="nav-agency">
  <div class="navbar navbar-static-top"> 
    <!-- navbar-fixed-top -->
    <div class="navbar-inner">
      <div class="container"> <a class="brand" href=""> <img src="../../static/img/Logodark.png" alt="Logo"></a>
        <div id="main-nav">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="">Home</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span12">
            <h1> Selling </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row-fluid contact">  
	<div class="span4">
	  <ul class="bordered-list">
    <li>Client No:</b>{{ username }}</li>	
    <li>{{ info }}</li>
      </ul>
    </div>
    <div class="span6">
      <div class="wpcf7" id="wpcf7-f75-t1-o1">
        <form action="" method="post" class="wpcf7-form" id="cform" name="cform">
          <div id="output" class="alert"> </div>
          <div class="form-meta clearfix">
            <div class="formcol">
			  <label for="crop_id"> Crop Name </label>
					<select name="crop_id" id="crop_id">
              {% for id, name, type in crop_details %}
              <option value={{ id }}>{{ name }} - {{ type }}</option>
            {% endfor %}
					</select>
			  <label for="crop_weight"> Weight for Sell (KG)</label>
              <input type="text" name="crop_weight" value="" id="crop_weight" size="40" />
            </div>
            <div class="formcol">
			  <label for="req_pin"> Land Area</label>
        <select name="req_pin" id="req_pin">
            {% for pin, area in pin_area_tuple %}
              <option value={{ pin }}>{{ area }}</option>
            {% endfor %}
					</select>
          </div>
		  </div>
			<div class="form-meta clearfix">
				<label for="notes"> Notes </label>
				<textarea name="notes" id="notes" cols="40" rows="10"></textarea>
		    </div>
          </div>
		  <input type="submit" id="send-message" value="Sell" class="btn btn-success" />		        
		</form>
      </div>
    </div>
  </div>
</div>
 <!-- Footer
    ================================================== -->
    <footer class="footer">
        <div class="container">
          <div class="row-fluid copyright ">
            <center>
                <div class="span12">Copyright &copy; 2018. agro.com</div>
            </center>
          </div>
        </div>
      </footer>
<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
<script src="../../static/js/jquery.js"></script> 
<script src="../../static/js/google-code-prettify/prettify.js"></script> 
<script src="../../static/js/bootstrap-transition.js"></script> 
<script src="../../static/js/bootstrap-alert.js"></script> 
<script src="../../static/js/bootstrap-modal.js"></script> 
<script src="../../static/js/bootstrap-dropdown.js"></script> 
<script src="../../static/js/bootstrap-scrollspy.js"></script> 
<script src="../../static/js/bootstrap-tab.js"></script> 
<script src="../../static/js/bootstrap-tooltip.js"></script> 
<script src="../../static/js/bootstrap-popover.js"></script> 
<script src="../../static/js/bootstrap-button.js"></script> 
<script src="../../static/js/bootstrap-collapse.js"></script> 
<script src="../../static/js/bootstrap-carousel.js"></script> 
<script src="../../static/js/bootstrap-typeahead.js"></script> 
<script src="../../static/js/bootstrap-affix.js"></script> 
<script src="../../static/js/application.js"></script> 
<script src="../../static/js/contact.js" type="text/javascript"></script> 
<script src="../../static/js/superfish.js" type="text/javascript"></script> 
<script src="../../static/js/custom.js" type="text/javascript"></script>
</body>
</html>
