<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>વેચાણ વિગતો</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link href="../../static/css/bootstrap.css" rel="stylesheet">
<link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../../static/css/docs.css" rel="stylesheet">
<link href="../../static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="../../static/js/google-code-prettify/prettify.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../../static/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../static/ico/apple-touch-icon-57-precomposed.png">
<style>
    table#t01 tr:nth-child(even) {
      background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
      background-color: #fff;
  }
  table#t01 th {
      color: white;
      background-color: black;
  }

  table#t01 {
    width: 100%;
    text-align:center;
  }
</style>

</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<!-- Navbar
    ================================================== -->
<div class="nav-agency">
  <div class="navbar navbar-static-top"> 
    <!-- navbar-fixed-top -->
    <div class="navbar-inner">
      <div class="container"> <a class="brand" href="{{ domain }}{{ username }}"> <img src="../../static/img/Logodark.png" alt="Logo"></a>
        <div id="main-nav">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="{{ domain }}{{ username }}">હોમ</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span4">
            <h1>વેપારી</h1>
          </div>
          <div class="span8">
              <h1>{{ info }}</h1>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row-fluid contact">  
	<div class="span4">
	  <ul class="bordered-list">
        <li>ક્લાયન્ટ નં:</b>{{ username }}</li>	
        <li><a href="">સૂચનાઓ</a></li>
      </ul>
    </div>
    <div class="span8">
      <div class="wpcf7" id="wpcf7-f75-t1-o1">
          <table id="t01">
            <tr>
              <th>ફોન નં</th>
              <th>પાકનું નામ</th> 
              <th>પાક પ્રકાર</th>
              <th>પાક વજન</th>
              <th>પાક હાર્વેસ્ટ તારીખ</th>
              <th>રિઝર્વ પ્રાઈસ</th>
              <th>બોલી</th>
            </tr>
            {% for no, crop_req, name,type,weight,date,price in sold_Data %}
              <tr>
                <td>{{ no }}</td>
                <td>{{ name }}</td> 
                <td>{{ type }}</td>
                <td>{{ weight }}</td>
                <td>{{ date }}</td>
                <td>{{ price }}</td>
                <td><a data-toggle="modal" data-target="#bid_model">ક્લિક કરો</a></td>
              </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
</div>

<div id="bid_model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="bidLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">
      બિડિંગ
      </h4>
    </div>
    <div class="modal-body">
        <form action="" method="post" class="wpcf7-form" id="bid_res" name="bid_res">
          <div id="output" class="alert"></div>
          <div class="form-meta clearfix">
            <div class="formcol">
                <label for="aadhar_no"> આધાર નં </label>
                <input type="text" name="aadhar_no" id="aadhar_no" value="" size="40" />  
                <label for="address_line_1">સરનામું_લાઇન_1</label>
                <input type="text" name="address_line_1" id="address_line_1" value="" size="40" />                
            </div>
          </div>
          <button type="submit" class="btn btn-default" name="bid_res">સબમિટ કરો</button>
          <button class="btn btn-default" name="">રદ કરો</button>
        </form>
    </div>
  </div>

 <!-- Footer
    ================================================== -->
    <footer class="footer">
        <div class="container">
          <div class="row-fluid copyright ">
            <center>
                <div class="span12">કૉપિરાઇટ &copy; 2018. agro.com</div>
            </center>
          </div>
        </div>
      </footer>
<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
<script src="../../static/js/jquery.js"></script> 
<script src="../../static/js/google-code-prettify/prettify.js"></script> 
<script src="../../static/js/bootstrap-transition.js"></script> 
<script src="../../static/js/bootstrap-alert.js"></script> 
<script src="../../static/js/bootstrap-modal.js"></script> 
<script src="../../static/js/bootstrap-dropdown.js"></script> 
<script src="../../static/js/bootstrap-scrollspy.js"></script> 
<script src="../../static/js/bootstrap-tab.js"></script> 
<script src="../../static/js/bootstrap-tooltip.js"></script> 
<script src="../../static/js/bootstrap-popover.js"></script> 
<script src="../../static/js/bootstrap-button.js"></script> 
<script src="../../static/js/bootstrap-collapse.js"></script> 
<script src="../../static/js/bootstrap-carousel.js"></script> 
<script src="../../static/js/bootstrap-typeahead.js"></script> 
<script src="../../static/js/bootstrap-affix.js"></script> 
<script src="../../static/js/application.js"></script> 
<script src="../../static/js/contact.js" type="text/javascript"></script> 
<script src="../../static/js/superfish.js" type="text/javascript"></script> 
<script src="../../static/js/custom.js" type="text/javascript"></script>
</body>
</html>
